 body {
        background-color: rgb(32, 2, 18);
        font-size: 20px;
        font-family:'Times New Roman', Times, serif
      }
      h1 {
        color: rgb(134, 45, 110);
      }
    
      div {
        background-color: rgb(237, 207, 228);
        width: auto;
        border: 15px solid rgb(134, 45, 110);
        padding: 50px;
        margin: 20px;
      }

.svgImage{
  width: 300px;
  padding: 15px;
  border: 2px solid yellow;
  border-radius: 15px;
}
centered {
    text-align: center;
}