 body {
        background-color: Black;
        font-size: 20px;
        font-family:'Times New Roman', Times, serif
      }
      h1 {
        color: Indigo;
      }
    
      div {
        background-color: PeachPuff;
        width: auto;
        border: 15px solid Linen;
        padding: 50px;
        margin: 20px;
      }

.svgImage{
  width: 300px;
  padding: 15px;
  border: 2px solid yellow;
  border-radius: 15px;
}